# Get Data Using API - with key

Go to the [BreweryDB](https://www.brewerydb.com/developers/apps) website to request an API key for developers.

In [1]:
import requests
import json
import time  #library used to get current time
import pandas as pd

In [2]:
# read sandbox API 
with open('brewDB_key.txt', 'r') as file:
    for line in file:
        api_key = line
url = r"https://sandbox-api.brewerydb.com/v2/beers/?key="
response = requests.get(url+api_key)
str_beer = response.text
beer_data = json.loads(str_beer)
# beer_data # this is a dictionary file

In [3]:
# creat a vatiable to hold all the data
beers = beer_data['data']

## ABV , IBU, SRM and OG 

We have asked to check whether IBU has an effect on 

You've been asked to determine whether education is impactful to salary. Develop a hypothesis test to compare the salaries of those with Master's degrees to those with Bachelor's degrees. Are the two statistically different according to your results?

> Note: The relevant features are stored in the 'FormalEducation' and 'AdjustedCompensation' features.

### Subset the data for Hypothesis testing

### checking the whole dataset

In [ ]:
import numpy as np
def chose_only_hypothesis_colums(df, column_names):
    return df[column_names]

In [ ]:
lst = ['abv', 'ibu', 'gravity', 'abv_min', 'abv_max', 'ibu_min', 'ibu_max', 'srm_min', 'srm_max', 'og_min', 'fg_min', 'fg_max']
hyp_data = chose_only_hypothesis_colums(df, lst)
print(hyp_data.abv.unique())
print(hyp_data.ibu.unique())
print(hyp_data.gravity.unique())

## Play ground

In [4]:
# create empty lists to extract data

idls = [] 
namels = [] 
name_displayls = [] 
abvls = [] 
ibuls = [] 
gravityls = []

organicls = [] 
retiredls = [] 

stylels = []

createls = []
updatels = []
ibu_minls = []
ibu_maxls = []
abv_minls = []
abv_maxls = []
srm_minls = []
srm_maxls = []
fg_minls = []
fg_maxls = []
og_minls = []

In [5]:
#set a "timer" for 3 sec after the code starts
end = time.time() + 3 

#while the current time is less than the ending time (3 sec after the code started)
while time.time() <= end:  
    for beer in beers:
        
        #get the value of each key and if the key doesn't exist, set a variable to be None
        try: bid = beer['id'] #idls
        except: bid = None
            
        try: name = beer['name'] #namels
        except: name = None
            
        try: dname = beer['nameDisplay'] # dnamels
        except: dname = None
            
        try: abv = beer['abv'] # abvls
        except: abv = None
            
        try: grav = beer['originalGravity'] #gravityls
        except: grav = None
            
        try: ibu = beer['ibu'] #ibuls
        except: ibu = None
                    
        try: organic = beer['isOrganic'] #orgls
        except: organic = None
            
        try: retired = beer['isRetired'] #retls
        except: retired = None
            
        try: style = beer['style']['name'] # stylels
        except: style = None
        
        try: ibu_min = beer['style']['ibuMin']
        except: ibu_min = None    
        try: ibu_max = beer['style']['ibuMax']
        except: ibu_max = None
            
        try: abv_min = beer['style']['abvMin']
        except: abv_min = None
        try: abv_max = beer['style']['abvMax']
        except: abv_max = None
            
        try: srm_min = beer['style']['srmMin']
        except: srm_min = None
        try: srm_max = beer['style']['srmMax']
        except: srm_max = None
            
        try: fg_min = beer['style']['fgMin']
        except: fg_min = None
        try: fg_max = beer['style']['fgMax']
        except: fg_max = None
        
        try: og_min = beer['style']['ogMin']
        except: og_min = None
            
        try: create = beer['createDate'] # createls
        except: create = None
            
        try: update = beer['updateDate'] # updatels
        except: update = None
        
        # append all items
        idls.append(bid) 
        namels.append(name)
        name_displayls.append(dname)
        abvls.append(abv)
        ibuls.append(ibu)
        gravityls.append(grav)
        organicls.append(organic)
        retiredls.append(retired)
        stylels.append(style)
        createls.append(create)
        updatels.append(update)
        ibu_minls.append(ibu_min)
        ibu_maxls.append(ibu_max)
        abv_minls.append(abv_min)
        abv_maxls.append(abv_max)
        srm_minls.append(srm_min)
        srm_maxls.append(srm_max)
        fg_minls.append(fg_min)
        fg_maxls.append(fg_max)
        og_minls.append(og_min)

In [6]:
#check number of items in each list

print(len(idls))
print(len(namels))
print(len(name_displayls))
print(len(abvls))
print(len(gravityls))
print(len(ibuls))


print(len(organicls))
print(len(retiredls))

print(len(stylels))

print(len(createls))
print(len(updatels))
print(len(ibu_minls))
print(len(ibu_maxls))
print(len(abv_minls))
print(len(abv_maxls))
print(len(srm_minls))
print(len(srm_maxls))
print(len(fg_minls))
print(len(fg_maxls))
print(len(og_minls))

578400
578400
578400
578400
578400
578400
578400
578400
578400
578400
578400
578400
578400
578400
578400
578400
578400
578400
578400
578400

In [7]:
#match indices of each list and zip into one list
beerList = list(zip(idls, namels, name_displayls, abvls, gravityls, ibuls, organicls,
                    retiredls, stylels, createls, updatels, ibu_minls, ibu_maxls,
                    abv_minls, abv_maxls, srm_minls, srm_maxls, fg_minls, fg_maxls,
                    og_minls))

#names for columns in data frame
colnames = ['id', 'name', 'name_display', 'abv', 'gravity', 'ibu', 'organic', 'retired',
            'style_name', 'created', 'updated', 'ibu_min', 'ibu_max', 'abv_min',
            'abv_max', 'srm_min', 'srm_max', 'fg_min', 'fg_max', 'og_min']

In [9]:
#create data frame with column names in it
df = pd.DataFrame(beerList, columns=colnames)

new_df = df[['abv','gravity', 'ibu', 'ibu_min', 'ibu_max', 'abv_min', 'abv_max', 'srm_min', 'srm_max', 'fg_min', 'fg_max', 'og_min']]
print('Dataset before removing null records:',new_df.shape)
idx = (new_df.notnull()).all(axis=1)
data = new_df[idx]
print('Datase after removing all the null records:', data.shape)
data = data.reset_index(drop=True)
data.head()

Dataset before removing null records: (578400, 12)
Datase after removing all the null records: (34704, 12)

,abv,gravity,ibu,ibu_min,ibu_max,abv_min,abv_max,srm_min,srm_max,fg_min,fg_max,og_min
0,5.5,1.05,45,30,42,4.5,5.6,6,14,1.008,1.014,1.044
1,5.7,1.051,23,20,40,4.5,8.5,4,14,1.004,1.016,1.055
2,7.5,1.076,64.2,30,42,4.5,5.6,6,14,1.008,1.014,1.044
3,5.5,1.05,45,30,42,4.5,5.6,6,14,1.008,1.014,1.044
4,5.7,1.051,23,20,40,4.5,8.5,4,14,1.004,1.016,1.055

In [10]:
df.head()

,id,name,name_display,abv,gravity,ibu,organic,retired,style_name,created,updated,ibu_min,ibu_max,abv_min,abv_max,srm_min,srm_max,fg_min,fg_max,og_min
0,c4f2KE,'Murican Pilsner,'Murican Pilsner,5.5,None,None,N,N,American-Style Pilsener,2013-08-19 11:58:12,2018-11-02 02:15:14,25,40,5,6,3,6,1.012,1.018,1.045
1,zTTWa2,11.5° PLATO,11.5° PLATO,4.5,1.046,35,N,N,Session India Pale Ale,2016-08-09 14:44:42,2018-11-02 02:15:14,None,None,None,None,None,None,None,None,None
2,zfP2fK,12th Of Never,12th Of Never,5.5,1.05,45,N,N,American-Style Pale Ale,2016-08-03 23:25:54,2018-11-02 02:15:14,30,42,4.5,5.6,6,14,1.008,1.014,1.044
3,xwYSL2,15th Anniversary Ale,15th Anniversary Ale,None,None,None,N,N,Extra Special Bitter,2015-04-16 15:44:15,2018-11-02 02:15:14,30,45,4.8,5.8,8,14,1.01,1.016,1.046
4,UJGpVS,16 So Fine Red Wheat Wine,16 So Fine Red Wheat Wine,11,None,None,N,N,American-Style Wheat Wine Ale,2013-02-24 16:31:05,2018-11-02 02:15:14,45,85,8.4,12,8,15,1.024,1.032,1.088

In [11]:
df.to_csv('dirty_data.csv')

In [ ]:
# convert object data type to float
# beer_data = data.applymap(lambda x: float(x), )
beer_data.dtypes

In [ ]:
beer_data.head()

In [ ]:
 beer_data.to_csv('BreweryDB.csv')