In [1]:
import pandas as pd
import numpy as np

In [2]:
#Load two .CSVs
beer_df = pd.read_csv('data/beers.csv')
brewery_df = pd.read_csv('data/breweries.csv')

In [3]:
#Rename column in brewery_df so that it matches column in beer_df
brewery_df.columns = ['brewery_id', 'name', 'city', 'state']

In [4]:
#Merge beer and brewery dataframes
merged_df = pd.merge(beer_df, brewery_df, on='brewery_id', how='outer')

In [5]:
#Rename columns
merged_df.columns = ['beer_id', 'abv', 'ibu', 'id', 'beer_name', 'style', 'brewery_id',
       'ounces', 'brewery_name', 'city', 'state']

In [6]:
#Strip white space from 'states' column
merged_df['state'] = merged_df['state'].str.strip()

In [7]:
merged_df.head()

,beer_id,abv,ibu,id,beer_name,style,brewery_id,ounces,brewery_name,city,state
0,0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0,10 Barrel Brewing Company,Bend,OR
1,1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0,18th Street Brewery,Gary,IN
2,2,0.071,NaN,2264,Rise of the Phoenix,American IPA,177,12.0,18th Street Brewery,Gary,IN
3,3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0,18th Street Brewery,Gary,IN
4,4,0.075,NaN,2262,Sex and Candy,American IPA,177,12.0,18th Street Brewery,Gary,IN

In [8]:
ca_abv = merged_df[merged_df['state']=='CA'][['ibu','style']]
# merged_df.state == 'CA']
ca_abv_new = ca_abv[ca_abv['style'] == 'American IPA']['ibu']
# ca_abv['style'].value_counts()
ca_abv_new.mean()

66.6842105263158

In [9]:
co_abv = merged_df[merged_df['state']=='CO'][['ibu','style']]
# merged_df.state == 'CA']
co_abv_new = co_abv[co_abv['style'] == 'American IPA']['ibu']
# ca_abv['style'].value_counts()
co_abv_new.mean()

70.34782608695652

In [10]:
merged_df.to_csv('data/beer_and_brewery.csv')